.vs/
bin/
obj/
*.user
*.suo
*.sln.docstates
*.csproj.user
[Bb]uild/
[Dd]ebug/
[Rr]elease/
packages/
_PublishedWebsites/
*.AssemblyInfo.cs
*.Razor.lsif
*.vspscc
*.vssscc
*.opencover.xml
*.coverage
*.coveragexml
TestResults/