<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.Name">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MonMenuBlazor</title>
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MonMenuBlazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="js/menu.js"></script>
    **<script src="js/bootstrap.bundle.min.js"></script>**
</head>

<body>
    <Routes />
    <script src="_framework/blazor.server.js"></script>
</body>

</html>